/* Style crée par Mikaël LESGUER */

            /* --- CHARTE DES COULEURS DU SITE --- */

    /* Fond gris: #F2F2F2
       Bleu: #0065FC
       Bleu clair: #DEEBFF */


            /* --- LAYOUT --- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
    color: rgb(45, 45, 45);
}