/* Style crée par Mikaël LESGUER */

            /* --- CHARTE DES COULEURS DU SITE --- */

    /* Fond gris: #F2F2F2
       Bleu: #0065FC
       Bleu clair: #DEEBFF */


            /* --- REGLE GENERAL --- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
    color: rgb(45, 45, 45);
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    max-width: 2000px;
    margin: auto;
}

#page-entiere { margin: 0 3.5%; }

h1 { 
    font-size: 22px;
    padding: 10px 0px;
}

h2 {
    display: inline-flex;
    font-size: 22px;
    padding: 25px 0px;
}

h3 {
    font-size: 16px;
    font-weight: 700;
    padding: 0px;
}

a { text-decoration: none; }

            /* --- HEADER --- */

header {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    width: 100%;
}

    #logo {
        display: inline-flex;
        padding-top: 15px;
    }

/* Nav */

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    nav li { list-style-type: none; }

        nav a {
            color: rgb(65, 65, 65);
            border-top: 2px solid transparent;
            padding: 50px 34px 40px;
            text-decoration: none;
            display: inline-block;
        }

        #bouton_inscription a {
            font-weight: bolder;
            color: #0065FC;
        }

        /* Nav hover */

        nav a:hover {
            color: #0065FC;
            border-top: 2px solid #0065FC;
            transition: 0.4s ease-in;
        }


        #bouton_inscription a:hover {
            font-weight: bolder;
            color: #0049b8;
            border-top: 1px solid transparent;
        }

            /* --- SECTION RECHERCHE --- */

/* Barre de Recherche */

#barre_de_recherche {
    margin: 20px 0px;
    height: 50px;
    display: flex;
    align-items: center;
}

    #barre_de_recherche 
    input,
    button {
        height: 100%;
        font-size: 1.1em;
        font-weight: 600;
        border: none;
    }

    #barre_de_recherche input {
        width: 240px;
        font-weight: 700;
        font-size: 1.1em;
        padding: 10px 15px;
        border: 1px solid #F2F2F2;
    }

    ::placeholder {
        color: rgb(45, 45, 45);
        opacity: 1;
    }

    #barre_de_recherche #bouton--desktop {
        color: #fff;
        background-color: #0065FC;
        padding: 10px 18px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }

        #barre_de_recherche i {
        padding: 17px 20px;
        background-color: #F2F2F2;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

/* Barre de Recherche hover */

#barre_de_recherche #bouton--desktop:hover {
    color: #0065FC;
    background-color: #DEEBFF;
    cursor: pointer;
    transition: 0.3s ease-in;
}